header {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
            padding-top: 24px;
            padding-bottom: 24px;
}

.logo-prefix {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.link-nav {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover, .link-nav:focus {
color: #404bbf;
}

.link-address {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover, .link-address:focus {
    color: #404bbf;
}

.hero-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 1440px;
            margin: 0 auto;
            background-position: center;
}

.page-title {
    text-align: center;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        margin-left: auto;
            margin-right: auto;
            max-width: 496px;
            margin-bottom: 48px;
}

.hero-section-btn {
    cursor: pointer;
        background-color: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            padding: 16px 32px;
                border-radius: 4px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                min-width: 169px;
                height: 56px;
                border: none;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-section-btn:hover, .hero-section-btn:focus {
        background-color: #404bbf;
}

.benefits-section {
    background-color: #fff;
}

.benefits-option {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.benefits-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-section {
    background-color: #f4f4fd;
}

.team-section-title {
    text-align: center;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-member {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-title {
    text-align: center;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-member-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
        margin-bottom: 8px;
}

.portfolio-section {
    background-color: #fff;
}

.portfolio-item:hover, .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-section-title {
    text-align: center;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 72px;
}

.product-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.product-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.page-bottom {
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
        margin-bottom: 16px;
}

.logo-footer-prefix {
    color: #f4f4fd;
}

.page-bottom-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}

.container {
    max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.page-header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-nav {
    display: flex;
        align-items: center;
}

.nav-list {
    display: flex;
        align-items: center;
            gap: 40px;
}

.address-list {
    display: flex;
        align-items: center;
        gap: 40px;
}

.benefits-section-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
        width: calc((100% - 72px) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
}

.item-container {
    padding: 32px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.product-item-container {
   padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.product-title {
    margin-bottom: 8px;
}

.page-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-icon-container {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        padding: 24px 100px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.socials-list {
    display: flex;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
}

.socials-icon {
    fill: #f4f4fd;
}

.socials-link {
    display: flex;
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover, .socials-link:focus {
    background-color: #404bbf;;
}

.footer-socials-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}

.footer-socials-list {
    display: flex;
    gap: 16px;
}

.footer-socials-container {
    margin-right: 80px;
}

.footer-socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover, .footer-socials-link:focus {
    background-color: #31d0aa;;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-socials-text {
    margin-bottom: 16px;
}

.footer-socials-icon {
    fill: #f4f4fd;
}

.link-home::after {
    display: block;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 20px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.link-home {
    color: #404bbf;
    position: relative;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.thumb-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .thumb-text {
transform: translateY(0);
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}

.subscribe-btn {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
    }

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.input-button-wrapper {
    display: flex;
}

.icon-send {
    fill: #fff;
    margin-left: 16px;
}

.subscribe-wrapper {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
transform: translate(-50%, -50%) scale(1.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
    border: none;
    background-color: #404bbf;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    fill: #fff;
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 8px;
}

.username-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.username-wrapper {
    position: relative;
}

.username-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.username-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.username-input:focus {
    border-color: #4D5AE5;
}

.username-input:focus+.username-icon {
    fill: #4D5AE5;
}

.phone-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.phone-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-input:focus {
    border-color: #4D5AE5;
}

.phone-input:focus+.phone-icon {
    fill: #4D5AE5;
}

.email-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.email-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input:focus {
    border-color: #4D5AE5;
}

.email-input:focus+.email-icon {
    fill: #4D5AE5;
}

.form-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
    border-color: #4D5AE5;
}

.textarea-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.textarea-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-link {
    line-height: 1.33333;
    text-decoration: underline;
    color: #4d5ae5;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.form-btn {
    font-family: "Roboto", sans-serif;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: #ffffff;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blank-check {
fill: #ffffff;
}

.visually-hidden:checked+.checkbox-text>.check {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-btn:hover {
    background-color: #404bbf;
}

